@media (max-width: 400px){
    
    .page-header img{
        max-width: 100%;
        float: left;
    }
    .page-header h3, h2, h1{
        text-align: center;
    }
    .form-group{
        text-align: center;
    }
    .btn-success{
        margin-bottom: 15px;
    }
    .pull-right{
        float: none;
    }
    .navbar-nav{
        text-align: center;
    }
}
@media (max-width: 320px){
    .page-header img{
        float: left;
    }
}