.form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.top {
    margin-top: 20px;
}

.top_pad {
    padding-top: 20px;
}
.big {
    height: 40px;
}
*:focus {
    outline: 0 !important;
}
/* Jquery Tabs */
.nav-tabs > li > a {
    display:inline-block;
    padding-left: 35px;
    padding-right: 35px;
    font-size: 110%;
}

.nav-tabs > li > span {
    display:none;
    cursor:pointer;
    position:absolute;
    right: 6px;
    top: 8px;
    color: red;
    cursor: pointer;

}
.nav-tabs > li:hover > span {
    display: inline-block;
}

.right {
    margin-top: 20px;
    float: right;
}

.ajax-errors {
    display: none;
}

.date {
    padding-left: 15px !important;
} 

input[type="checkbox"] {
    margin-left: 0 !important;
}

.input-group[class*="col-"] {
    float: left;
}

.input-group-addon {
    cursor: pointer;
}
#successMsg {
    display: none;
}

a {
    color:  #0270ca;
}

.navbar-inverse {
    background-color: #0270ca !important;
    background-image: none;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0259a3 !important;
}
.navbar-inverse .navbar-nav > li > a {
    color: #fff;
}
a {
    color:  #0270ca;
}
label {
    color:#0270ca;
}
.page-header{
    text-align: center;
}
.page-header h3, h2, h1 {
    color:#0270ca;
}
.navbar-inverse {
    background-image: linear-gradient(to bottom, #0270ca 0px, #0259a3 100%);

}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #0259a3 !important;
}
.navbar-inverse .navbar-nav > .active > a {
    background-color: #0259a3 !important;
    background-image: none !important;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a :focus {
    background-color: #0270ca !important;   
}

.btn-success, .btn-info {
    background-image: linear-gradient(to bottom, #0270ca 0px, #0259a3 100%);
    background-repeat: none;
    border-color: #0259a3;
}
.btn-success:hover, .btn-success:focus, .btn-info:hover, .btn-info:focus {
    background-color: #0259a3 !important;
    border-color: #0259a3;
}

#users tbody tr {
    cursor: pointer;
}

.blue {
    color: #0270ca;
}
#confirmService {
    margin-left: 10px;
}
@media (max-width: 400px){

    .page-header img {
        max-width: 100%
    }
    .page-header h3, h2, h1{
        text-align: center;
    }
    .form-group {
        text-align: center;
    }
    .btn-success {
        margin-bottom: 15px;
    }
    .pull-right {
        float: none;
        width:100%;
        margin-bottom:40px;
        margin-top: 20px;
    }

    .navbar-nav {
        text-align: center;
        margin: 7.5px 0;
    }
    #remember  {
        float:none;
    }
    #serviceMomentUser1.input-group {
        margin: 15px 30px 20px;
    }
    #confirmService {
        float: left;
        margin-left:30px;
    }
    .navbar-nav:first-child {
        border-bottom:1px solid #fff;
    }
    #serviceMomentUser2.input-group {
        margin: 15px 30px 20px;
    }
    .back {
        position:relative;
        left:-80%;
        top:-10px;
    }
    .register {
        position:relative;
        top:-2px;
        left:-75px;
    }

    .nav-tabs > li > a {
        padding-left:20px;
        padding-right:20px;
    }
    #users_wrapper{
        float: left;
        width: 100%;
    }
    .page-header{
        margin: 0;
        padding-bottom: 30px;
    }
}
@media (max-width: 320px){
    .btn-small{
        margin-bottom: 10px;
    }
    .page-header{
        border: none;
    }
}